
{% extends "base.html" %}

{% block css %}

<style type="text/css">
	.content_container{
	  height: 98%;
	  width: 100%;
	  background-image:url('/static/images/printo-bg.gif');
		
	}
	.form-wrap {
	    background: white;
	    background-image: initial;
	    background-position-x: initial;
	    background-position-y: initial;
	    background-size: initial;
	    background-repeat-x: initial;
	    background-repeat-y: initial;
	    background-attachment: initial;
	    background-origin: initial;
	    background-clip: initial;
	    background-color: white;
	    border: 1px solid #cbcbcc;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    width: 570px;
	    padding: 40px 0 90px 0;
	    min-height: 350px;
	    margin: 52px auto 0 auto;
	    position: relative;
	}

	.form-content{
		margin-top: 10px !important;
		padding: 0px 80px;
	}
	.signup-form{
		padding: 20px 20px !important	;
	}

	.signin-btn, .signin-btn:hover{
		background-color: #FFE270;
		font-size: 20px !important;
		/*font-weight: bolder !important;*/
		color:grey !important;
		text-decoration: none;
	}

	.form-header{
		color:grey;
		font-size: 20px;
	}

 .inline-label{
 	padding: 2px 5px;
  	margin-left: 18px;
  	display: inline-block;
  	background: white;
  	color:grey;
  	font-size: 12px;

  }

  .input-holder{

  }
  .custom-input{
  	margin-top: -10px;
  }
  .inline-label{
  	visibility: hidden;
  }
  .border{
  	border: 1px solid grey;
  }
</style>

{% endblock %}


{% block content %}



	<div class="content border">
		<div class="content_container container">

			<div class="form-wrap">
				<div class="form-content ">

					<h4 class="form-header">
						Sign In

						<!-- <span class="sign-up" id="sign-up-link">New to HP Software? <a href="https://www.saas.hp.com/signup" id="sign-up">Sign up</a></span> -->


					</h4>
					<form class ="signup-form col-md-12" enctype="multipart/form-data"  method="post" action=""> {% csrf_token %}
<!-- 
							<dl>
								{% for field in form %}

								    <dd>{{ field }}</dd>
								    {% if field.help_text %}
								    	<dd>{{ field.help_text }}</dd>
								    {% endif %}

								    {% if field.errors %}
								    	{{ field.errors }} 
								    {% endif %}
								{% endfor %}
						  
							</dl> -->
							<div class="input-holder ">

								<div class="inline-label">username</div>

							    <input class="form-control custom-input" id="id_username" maxlength="254" name="username" type="text" placeholder="username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'username'">
							</div>

							<div class="input-holder ">
								<div class="inline-label ">password</div>
							    <input class="form-control custom-input" id="id_password" name="password" type="password" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'">
							</div>
								<div class="loginSignUp clearFix">
						
								<br>
								<input class="btn btn-block signin-btn" type="submit" value="Sign In" />



					</form>
				</div>

			</div>
		</div>
	</div>


						
	
   	
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	
	$( ".custom-input" ).focus(function() {
	   $(this).siblings().css('visibility','visible')
	 
	});
	$( ".custom-input" ).focusout(function() {
		if($(this).val().length <1 )
			$(this).siblings().css('visibility','hidden')
	});


</script>

{%  endblock %}
