<div class="modal fade map-modal" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" id="mine">
		<div class="modal-content">
      <div class="row">
       
        <div class="pdf-holder col-md-7">
          <canvas id="the-canvas" style="border:1px solid black;"  />
        </div> <!-- /.pdf-holder -->
        <div class="modal-body col-md-4">
          <button id="prev">Previous</button>
          <button id="next">Next</button>
          &nbsp; &nbsp;
          <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
          <div class="pdf-info">
            <table class="table">
              <tr>
                <td>File Name</td>
                <td id="id_name_viewer">kdsjd</td>
              </tr>
              <tr>
                <td>Pages</td>
                <td  id="id_pages_viewer"></td>
              </tr>
              <tr>
                <td>Price</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

      </div>

<div class="modal-footer col-md-4 pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
    </div> <!-- /.modal-footer -->
		</div> <!-- /.modal-content -->

  	
	</div> <!-- /.modal-dialog -->
</div> <!-- </div>/.modal -->
