{% extends "ownerMain.html" %}

{% block owner-content %}

	<h1 class="page-header">My Shops</h1>


<div class="row">
	<div class="col-md-12">
		<table id="shopList" class="table">
			<th>Name</th>
			<th>Username</th>
			<th>Orders</th>
			<th>Rate</th>
			<th>Services</th>
			<th>Phone No</th>
			<th>Online</th>
			<th>Active</th>

			{% for shop in shops %}
				
				<tr>
					<td>{{ shop.shopName }}</td>
					<td>{{shop.employee}}</td>
					<td>0</td>
					<td>{{shop.rate}}</td>
					<td>
						{% for service in shop.services.all %} 
						  <li>

						  {{service}} 
						  </li>
						{% endfor %}

					</td>
					<td>{{shop.telephone}}</td>
					<td>Yes</td>
					<td>Yes</td>
					<td><button class="btn">Details</button></td>
					<td><button class="btn">Visit Shop</button></td>
				</tr>
				
				
			{% endfor %}
		</table>
	</div>
	<!-- <div class="col-md-4 ">

	</div>
 -->
</div>

		

{% endblock %}