    <input type='hidden' name='csrfmiddlewaretoken' value='s2gWewMEnjt1LVNGFLmHzTJ7Mcoe9Gli' />
	    <p><label for="id_shopName">Shopname:</label> <input id="id_shopName" maxlength="100" name="shopName" type="text" /></p>
<p><label for="id_email">email address:</label> <input class="mandatory" id="id_email" name="email" placeholder="Email" type="text" /></p>
<p><label for="id_address">Address:</label> <textarea cols="40" id="id_address" name="address" rows="10">
</textarea></p>
<p><label for="id_pincode">Pincode:</label> <input class="mandatory" id="id_pincode" maxlength="6" name="pincode" placeholder="pincode" type="password" /></p>
<p><label for="id_nearest_college">Nearest college:</label> <input id="id_nearest_college" maxlength="200" name="nearest_college" type="text" /></p>
<p><label for="id_nearest_town">Nearest town:</label> <input id="id_nearest_town" maxlength="200" name="nearest_town" type="text" /></p>
<p><label for="id_mobile">Mobile:</label> <input id="id_mobile" maxlength="14" name="mobile" type="text" /></p>
<p><label for="id_username">Username:</label> <input class="mandatory" id="id_username" name="username" placeholder="User Name" type="text" /></p>
<p><label for="id_password">Password:</label> <input class="mandatory" id="id_password" name="password" placeholder="Password Again" type="password" /></p>
<p><label for="id_password1">Password Again:</label> <input class="mandatory" id="id_password1" name="password1" placeholder=" Password Again" type="password" /></p>
<p><label for="id_services">Services:</label> <select multiple="multiple" id="id_services" name="services">
</select></p>

