<html>
    
    <head>


		{% load staticfiles %}

			<link rel="stylesheet" href="{% static 'css/printo_app/nouislider.min.css' %}"/>

			<style type="text/css">

			.navbar{
				background:#39A385 !important;
			}
			.navbar a{
				color:white !important;
			}
			.row .sidebar{
				background: #737373;
			}

			.nav-sidebar li a {
				color:white;
			}

			.nav-sidebar li a:hover {
				color:white;
				background: #6F6F6F !important;
			}
			.nav-sidebar .active{
				background: #E3E3E3;
				color: grey;
			}
			.nav-sidebar .active:hover{
			background: #E3E3E3 !important;
				color: grey;
			}

			</style>
				

			{% block css %}

			 
			{% endblock %}

			<!-- start - bootstrap CSS -->
			<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="{% static 'css/bootstrap/dashboard.css' %}"/>
			<!-- stop - bootstrap CSS -->

	</head>



	<body>
		{% url 'auth_login' as login %}
		{% url 'auth_logout' as logout %}

		<nav class="navbar navbar-inverse navbar-fixed-top">
	  	<div class="container-fluid">
	        <div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
          		</button>
	          	<a class="navbar-brand" href="#">Project name</a>
	        </div> <!--  end - .navbar-header -->
	        <div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{% if request.user.is_authenticated %}

						<li><a href="#">Dashboard</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href="{{ logout }}">Logout</a></li>
					{% else %}
						<li><a href="{{ login }}">Login</a></li>
						<li><a href="{{ register }}">Register</a></li>
					{% endif %}
				</ul>
	          	<form class="navbar-form navbar-right">
	            <!-- 	<input type="text" class="form-control" placeholder="Search..."> -->
	          	</form>

	        </div> <!--  end - #navbar -->
	  	</div> <!-- end - .container-fluid -->
	</nav> <!--  end - .navbar -->


		{% block content %}

		{% endblock %}



		<!-- start - jQuery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- start - jQuery-->

		<!-- start - Bootstrap JS-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- stop - Bootstrap JS-->

		{% block javascript %}

		{% endblock %}

	</body>

</html>
