{% extends "base.html" %}	

{% block css%}
<style>
		#view_links a:hover {
			border-left: 6px solid lightgrey;
		    background: #eee;
		    color: #666;
		}

		#view_links .active {
			border-left: 6px solid orange;
		    background: white;
		    color: grey;
		}


</style>
{% block sub_css %}



{% endblock %}
{% endblock  %}

{% block content %}
	
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
	

    {% url 'documentUploadEmp' as documentUploadEmp %}
    {% url 'documentListEmp' as documentListEmp %}
    {% url 'ordersList' as ordersList %}


	


	<div class="row ">
		<div class="container">
		
	        
  		{% block emp-content-leftbar %}

  		<div class="fixed border">
    		<div id="left_sidebar" >
    			<div class="left_top_btns">
				</div>
				<div id="view_links">
					<div class="tags">
						<div class="header">PAGES</div>
						<a href="{{ documentListEmp }}" {% if request.path == documentListEmp %} class='active' {% endif %}> My Documents </a>
						<a href="{{ ordersList }}" {% if request.path == ordersList %} class='active' {% endif %}> My Orders </a>
						<a href=""> Shop Profile </a>
					</div>
					<div class="tags">
						<div class="header">Actions</div>
						<a href="{{ documentUploadEmp }}" {% if request.path == documentUploadEmp %} class='active' {% endif %}> Upload a document </a>
					</div>

				</div>
			</div>
	    </div>


	      		{% endblock %}

	        	{% block emp-content %}
		
				{% endblock %}
		</div>
	</div>

<!-- 	

	{% if user_role == "employee" %}
		<a href="{% url 'documentList' %}">Documents</a>
		<a href="{% url 'documentUpload' %}">Upload a Document</a>
		<a href="{% url 'shopProfile' %}">Shop Profile</a>
	{% endif %}
	{% if  user_role == "owner" %}
		<a href="{% url 'documentList' %}">DashBoard</a>
		<a href="{% url 'documentList' %}">Documents</a>
		<a href="{% url 'documentUpload' %}">Upload a Document</a>
		<a href="{% url 'shopProfile' %}">Shop Profile</a>
	{% endif %}
 -->
	<div id="content">
		
	</div>

{% endblock %}

{% block javascript %}
{% endblock %}

	</body>
	</html>