{% extends "base.html" %}





{% block css %}

{% endblock  %}
	

{% block content %}


	
    {% url 'shopCreate' as shopCreate %}
    {% url 'shopList' as shopList %}
    {% url 'documentUploadOwner' as documentUploadOwner %}
    {% url 'documentListOwner' as documentListOwner %}

    <div class="container-fluid">
      	<div class="row">
	        <div class="col-sm-3 col-md-2 sidebar">
		        <ul class="nav nav-sidebar">
			        <li>
			        	<a href="{{ shopCreate }}"  {% if request.path == shopCreate %} class='active' {% endif %} > Create a Shop </a>
			        </li>
			        <li>
			        	<a href="{{ shopList }}" {% if request.path == shopList %} class='active' {% endif %}> My Shops </a>
			        </li>
		        </ul>
	          	<hr>
		        <ul class="nav nav-sidebar">
		            <li>
		            	<a href="{{  documentUploadOwner }}" {% if request.path == documentUploadOwner %} class='active' {% endif %}> Upload a Document </a>
		            </li>
		            <li>
		            	<a href="{{ documentListOwner }}" {% if request.path == documentListOwner %} class='active' {% endif %}> My Documents </a>
		            </li>
		        </ul>
	        </div> <!--  end - .sidebar -->
	        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">	        
				{% block owner-content %}
				
				{% endblock %}

	        </div> <!--  end - .main -->

      	</div>
    </div> <!--  end - .container-fluid -->


{% endblock %}
		

{% block javascript %}

{% endblock %}
	  

